<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator/>
    <!-- 根据实际情况修改变量 -->
    <property name="app-name" value="fund-df-finance"/>
    <property name="filename" value="fund-df-finance"/>
    <property name="dev-group-name" value="Alamp"/>
    <!-- 根据实际情况修改变量 end-->
    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/usr/local/log-center/${app-name}/${filename}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/server/log-center/${app-name}/${filename}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%date{ISO8601}] [%level] %logger{80} [%thread] [%X{TRACE_ID}] ${dev-group-name} ${app-name} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%date{ISO8601}] [%level] %logger{80} [%thread] [%X{TRACE_ID}] ${dev-group-name} ${app-name} - %msg%n</pattern>
        </layout>
    </appender>

    <!-- 这些日志不要打印debug，不然数量太多 -->
    <!-- 选择使用的框架进行配置 -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.spring" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="jndi" level="WARN"/>
    <logger name="redis.clients" level="WARN"/>
    <logger name="application" level="WARN"/>
    <logger name="springfox.documentation" level="WARN"/>
    <logger name="com.netflix" level="WARN"/>
    <logger name="com.ppmoney.ppmon.celebi" level="INFO"/>
    <logger name="org.reflections" level="WARN"/>
    <logger name="io.grpc.internal.SerializingExecutor" level="OFF"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="io.grpc.internal.ClientCallImpl" level="OFF"/>
    <logger name="com.ppmoney.fund.repsitory" level="DEBUG"/>

    <!-- root -->
    <root level="INFO" additivity="false">
        <appender-ref ref="fileAppender"/>
        <!-- 可选项，仅用于Jirachi环境才开启控制台日志，生产环境不开启控制台日志 -->
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>